
<nav>
  <input type="checkbox" id="check" hidden>
    <label for="check" class="ui checkbtn basic">
      <div id="toggle" >
        <i class="sidebar icon"></i>
        Menu
     </div>
    </label>
  <label class="logo"><i class="ui icon search"></i>TrackMyLost</label>
  <ul class="w3-navbar">
    {{#each this.nav as |page|}}
      <li><LinkTo @route={{page}}>{{page}}</LinkTo></li>
    {{/each}}
  </ul>
</nav>