<nav class="w3-top">
{{#side-menu-toggle class='checkbtn' }}
        <i class="sidebar icon"></i>Menu
{{/side-menu-toggle}}
  <label class="logo"><i class="ui icon search"></i>TrackMyLost</label>
  {{#side-menu}}
    <ul class="w3-navbar">
    {{#each this.nav as |page|}}
      <li>{{#side-menu-link-to page }} {{page}} {{/side-menu-link-to}}</li>
    {{/each}}
  </ul>
  {{/side-menu}} 
  {{content-backdrop}}
      <ul class="w3-navbar unor">
    {{#each this.nav as |page|}}
      <li>{{#side-menu-link-to page }} {{page}} {{/side-menu-link-to}}</li>
    {{/each}}
  </ul>
</nav>