@import "ember-side-menu";
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html,
body {
    width: auto;
    height: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(11, 59, 131);
}

nav{
    background-color: #0082e6;
    height: 80px;
    width: 100%;
}
label.logo{
    color: rgb(45, 214, 11);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav .longNav{
    float: right;
    margin-right: 20px;
}
nav .longNav li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    height: 80px;
}
nav .longNav li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
}

a{
    color: rgb(255, 238, 0);
}
a:hover,a.active{
    background: rgb(45, 214, 11);
    transition: .5s;
}
.checkbtn{
    font-size: 25px;
    float:right;
    margin:24px 0px 0px 0px;
    display: none;
}

@media(max-width: 952px){
    
    label.logo{
        font-size: 24px;
        padding-left:1px;
        color: rgb(45, 214, 11);
    }
}
@media(max-width: 908px){
    .longNav{
        display: none;
    }
    .shortNav{

        background: #2c3e50;
    }
    .shortNav ul{
        padding-top: 25px;
    }
    .shortNav header{
        color: white;
    }
    label.logo{
    color: rgb(45, 214, 11);
    font-size: 30px;
    line-height: 80px;
    padding: 0px;
    font-weight: bold;
}
    .header-content{
        padding: 10 px;
    }
    .checkbtn{
        color: white;
        display: block
    }
    nav .shortNav li{
        display: block;
        line-height: 10px;
        padding: 18px;
        border-bottom: 0.7px solid gray;
    }
    nav .shortNav li a{
        font-size: 23px;
        text-transform: capitalize;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
}
a {
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

 .header-content h1 {
    margin-top: 0;
    font-size: 25px;
    color: rgb(37, 226, 37);

}

.header-content .header-content-inner p {
    font-size: 16px;
    font-weight: 300;
    color: rgb(248, 245, 247)
}

@media(min-width:768px) {
    .header-content{
        width: 45%;
        margin: auto;
    }

     .header-content-inner {
        margin-right: auto;
        margin-left: auto;
         margin-top: 15px;
    }

    .header-content-inner h1 {
    	font-size: 45px;
		}

     .header-content .header-content-inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 100%;
        font-size: 20px;
    }
}
        