   <div class="card">
    <div class="content">
    <div class="header w3-center">
            <img class=" small ui image" src="avatar1.jpg" alt="doc-image">

    </div>

      <div class="w3-center">
        <strong><b>Belandigo Mariana Engwari</b></strong>
      </div>
      <div class="description">
        Document was found in SouthWest,
      </div>
    </div>
    <div class="extra content w3-center">
      
          <div class="ui button teal">
    <i class="add icon"></i>
      Access Information
    </div>
  </div>
</div>
{{yield}}