<div class="card">
    <div class="content">
    <div class="header">
        <div class="ui button red">
    <i class="add icon"></i>
      Access Information
    </div>
    </div>
      <img class="right floated tiny ui image" src="gh.png" alt="doc-image">

      <div class="meta">
        Found:13-sept
      </div>
      <div class="description">
        Document was found in SouthWest,
      </div>
    </div>
    <div class="extra content" style="color: black;">
        <strong><b>Belandigo Mariana Engwari</b></strong>
  </div>
</div>
{{yield}}