
<BsNavbar as |navbar|   >
  <div>
    <navbar.toggle />
    <LinkTo @route='home' class="navbar-brand"><img src="assets/images/logobottom.jpg" alt="navbar"/>TrackMyLost</LinkTo>
  </div>
  <navbar.content>
    <navbar.nav as |nav|>
        {{#each this.nav as |item|}}
            <nav.item>
                <nav.linkTo @route={{item}}  @collapseNavbar={{false}}>{{item}}</nav.linkTo>
            </nav.item>
        {{/each}}
            <nav.item>
                <nav.linkTo @route='report'  @collapseNavbar={{false}}>fdff</nav.linkTo>
            </nav.item>
    </navbar.nav>
  </navbar.content>
</BsNavbar>