
<nav>
  <label class="logo">trackMyLost</label>
  <ul>
    <li><a href="home">Home</a></li>
    <li><a href="report">About</a></li>
    <li><a href="login">Services</a></li>
    <li><a href="signup">Contact</a></li>
  </ul>
</nav>