
<BsNavbar>
  <div>
    <toggle />
    <LinkTo @route='home' class="navbar-brand"><img src="assets/images/logobottom.jpg" alt="navbar"/>TrackMyLost</LinkTo>
  </div>
  <content>
    <nav>
        {{#each this.nav as |item|}}
            <nav.item>
                <nav.linkTo @collapseNavbar={{false}}>{{item}}</nav.linkTo>
            </nav.item>
        {{/each}}
        <div class="navbar-right">
            <nav.item>

            </nav.item>
        </div>
    </nav>
  </content>
</BsNavbar>