
<nav>
  <button type="button" class="navbar-toggler min" data-toggle="collapse" data-target="collapse_target">
    <span class="navbar-toggler-icon"></span>
  </button>
  <label class="logo">TrackMyLost</label>
  <ul>
    <li><LinkTo @route='home'>Home</LinkTo></li>
    <li><LinkTo @route='report'>Report Item</LinkTo></li>
    <li><LinkTo @route='login'>Login</LinkTo></li>
    <li><LinkTo @route='signup'>signup</LinkTo></li>
  </ul>
</nav>