
<nav>
  <input type="checkbox" id="check">
  <label for="check">
    <i class="ui toggle checkbox"></i>
  </label>
  <label class="logo">TrackMyLost</label>
  <ul>
    <li><LinkTo @route='home'>Home</LinkTo></li>
    <li><LinkTo @route='report'>Report Item</LinkTo></li>
    <li><LinkTo @route='login'>Login</LinkTo></li>
    <li><LinkTo @route='signup'>signup</LinkTo></li>
  </ul>
</nav>