
<nav>
  <label class="logo">TrackMyLost</label>
  <ul>
    <li><LinkTo @route='home'>Home</LinkTo></li>
    <li><a href="report">About</a></li>
    <li><a href="login">Services</a></li>
    <li><a href="signup">Contact</a></li>
  </ul>
</nav>