<div class="header-content">
    <div class="header-content-inner">
        <h1>TrackMyLost</h1>
        <p>WE HAVE PUT SMILES ON FACES! TRACKMYLOST REUINTES YOU WITH YOUR LOST DOCUMENTS</p>
        <LinkTo @route='report' class="ui button red " >I've found something!</LinkTo>
        <div class="ui divider hidden"></div>
		<form role="search" action="result.php" method="post">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="search example: Batey Martin" id="query" name="result_query" required="true"/>
			</div>
            <button type="submit" href="" class="ui button green" onclick={{action 'tick'}}>Search</button>
		</form>
    </div>
</div>
<div class="header-content">
		<div class="col-sm-6 header-content-inner">
                    <h1>TrackMyLost</h1>
        <p>WE HAVE PUT SMILES ON FACES! TRACKMYLOST REUINTES YOU WITH YOUR LOST DOCUMENTS</p>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title text-white">
						<i class="ui icon signup green"></i> 
						Application Form
					</h3>

                </div>
				<div class="panel">
				
				<div class="panel-body">
					<form action="server.php" method="post">
						<div class="form-group">
							<input type="text" class="form-control" id="uid" name="sign_fname" placeholder="First Name" required="true"/>
						</div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="uid" name="sign_lname" placeholder="Last Names" required="true"/>
                        </div>
						<div class="form-group">
							<input type="tel" class="form-control" id="uid" name="sign_tel" placeholder="Telephone" required="true"/>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" id="uid" name="sign_reg" placeholder="Town" required="true"/>
						</div>
						<div class="form-group">
							<input type="password" class="form-control" id="pwd" name="sign_pass1" placeholder="Password" required="true"/>
						</div>
						<div class="form-group">
							<input type="password" class="form-control" id="pwd" name="sign_pass2" placeholder="confirm Password" required="true"/>
						</div>
						<button type="submit" class="btn btn-success" name="sign_submit">submit</button><a href="login.php">  already have an account?</a>
					</form>
				</div>
			</div>
			</div>
		</div>
        </div>