<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome to Super Rentals!</h2>
  <p class="text-warning">We hope you find exactly what you're looking for in a place to stay.</p>
  <LinkTo @route='about' class="button">About Us</LinkTo>
  <Layouts::AppHeader />
</div>