  <Jumbo />
<div class="">
        <div class="header-content">
            <div class="header-content-inner">
                <LinkTo @route='I Found' class="ui button green" >I've found something!</LinkTo>
                <div class="ui divider hidden"></div>
				<form class="header-content-inner" role="search" action="result.php" method="post">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="search for your lost item here" id="query" name="result_query" required="true"/>
					</div>
                <button type="submit" href="" class="ui button teal">Search</button>
				</form>
            </div>
        </div>
</div>