<div>
  <Jumbo />
  <section>
          <div class="ui divider"></div>

      <button type="button" class="btn btn-outline-success">I've Found Something</button>
<div class="ui fluid icon input">
  <input type="text" placeholder="Search a very wide input...">
  <i class="search icon"></i>
</div>
<div class="ui fluid action input">
  <input type="text" placeholder="Search...">
  <div class="ui button">Search</div>
</div>
  </section>
</div>