  <Jumbo />
    <div class="ui divider"></div>

<div class="">
  <div class="container-fluid">
  <header>
        <div class="header-content">
            <div class="header-content-inner">
				<form style="" class="header-content-inner" role="search" action="result.php" method="post">
					<div class="form-group">
					</div>
				</form>
            </div>
        </div>
    </header>
  </div>

</div>