  <Jumbo />
    <div class="ui divider"></div>

<div class="">
  <div class="container-fluid">
  <header>
						<input type="text" class="form-control" placeholder="search for your lost item" id="query" name="result_query" required="true"/>

    </header>
  </div>

</div>