<div class="">
		<div class="">
			<div class="alert alert-danger" role="alert">
				<strong>only for agents</strong>
			</div>

			<div class="">

				<div class="">
				<div class="">
					<h3 class="">
						<i class="ui sign in green icon"></i>
						Log In
					</h3>
				</div>
				<div class="">
					<form action="" method="post">
						<div class="">
							<input type="text" class="form-control" id="uid" name="uid" placeholder="Agence Name" required="true"/>
						</div>
						<div class="">
							<input type="password" class="form-control" id="pwd" name="pwd" placeholder="Password" required="true"/>
						</div>
                        <button type="submit" class="btn btn-success">Submit</button>
					</form>
				</div>
			</div>
			</div>


			<hr>
		</div>
	</div>
{{outlet}}