  <div class="row">
    <div class="col-md">
     Publish a found item on iLost
Fill out the form.
Confirm your email address.
Wait for email from possible owner.
Publish on behalf of an organization?
More information about our plans and pricing.

N.B.: Passports and identity cards should not be registered. These should be brought to your city council.
    </div>
    <div class="col">
      
    </div>
  </div>