		<div class="col-sm-3">
            <hr>
            <!-- Text Panel -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						<span class="glyphicon glyphicon-scale"></span> 
						Register the Item Here!
					</h3>
				</div>
            </div>

		</div>

				
		<!--/Left Column-->
    <!-- Center Column -->
		<div class="col-sm-6">

            <hr> <!-- Alert -->
			<div class="alert alert-danger" role="alert">
				<strong>Recently found item Owners</strong>

			</div>
         
            <div class='row'>
				<article class='col-xs-12'>
					<h3>bindom joseph evelyn</h3>
					<p><button class='btn btn-success' style='background-color: green' data-toggle='modal' data-target='#myModal' >Access information</button></p>
					<p class='pull-right'><span class='label label-default'>keyword</span> <span class='label label-default'>tag</span></p>
					<ul class='list-inline'>
					<li>idcard</li>
					</ul>
				</article>
			</div>
                
            <div class='row'>
				<article class='col-xs-12'>
					<h3>jervis asanji ngoh</h3>
					<p><button class='btn btn-success' style='background-color: green' data-toggle='modal' data-target='#myModal' >Access information</button></p>
					<p class='pull-right'><span class='label label-default'>keyword</span> <span class='label label-default'>tag</span></p>
					<ul class='list-inline'>
					<li>idcard</li>
					</ul>
				</article>
			</div>
                
            <div class='row'>
				<article class='col-xs-12'>
					<h3>joseph mangwena</h3>
					<p><button class='btn btn-success' style='background-color: green' data-toggle='modal' data-target='#myModal' >Access information</button></p>
					<p class='pull-right'><span class='label label-default'>keyword</span> <span class='label label-default'>tag</span></p>
					<ul class='list-inline'>
					<li>passport</li>
					</ul>
				</article>
			</div>
                
            <div class='row'>
				<article class='col-xs-12'>
					<h3>kudi karen kakwon</h3>
					<p><button class='btn btn-success' style='background-color: green' data-toggle='modal' data-target='#myModal' >Access information</button></p>
					<p class='pull-right'><span class='label label-default'>keyword</span> <span class='label label-default'>tag</span></p>
					<ul class='list-inline'>
					<li>idcard</li>
					</ul>
				</article>
			</div>
                <!-- Articles -->



        </div>