<div class="ui">
  <div class="text-white">
    <h1>Publish a found Document on&nbsp;TrackMyLost</h1>
    <ol>
        <li>Fill out the form.</li>
        <li>Confirm your number</li>
        <li>Wait for owner to call/sms you</li>
        <li>Recieve your MOMO gift :)</li>
    </ol>
  </div>
  <div class="header-content">
		<div class="">
			<div class="panel panel-default">
				<div class="panel">
				
				<div class="panel-body">
					<form action="server.php" method="post">
						<div class="form-group">
							<input type="text" class="form-control" id="uid" name="sign_fname" placeholder="First Name" required="true"/>
						</div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="uid" name="sign_lname" placeholder="Last Names" required="true"/>
                        </div>
						<div class="form-group">
							<input type="tel" class="form-control" id="uid" name="sign_tel" placeholder="Telephone" required="true"/>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" id="uid" name="sign_reg" placeholder="Town" required="true"/>
						</div>
						<div class="form-group">
							<input type="password" class="form-control" id="pwd" name="sign_pass1" placeholder="Password" required="true"/>
						</div>
						<div class="form-group">
							<input type="password" class="form-control" id="pwd" name="sign_pass2" placeholder="confirm Password" required="true"/>
						</div>
						<button type="submit" class="btn btn-success" name="sign_submit">submit</button><a href="login.php">  already have an account?</a>
					</form>
				</div>
			</div>
			</div>
		</div>
        </div>
        
{{outlet}}
</div>
