<div class="ui">
  <div>
    <h1>Publish a found item on&nbsp;TrackMyLost</h1>
    <h2>We are soo happy for your heart of gold.</h2>
    <ol>
        <li>Fill out the form.</li>
        <li>Confirm your number</li>
        <li>Wait for owner to call/sms you</li>
        <li>Recieve your MOMO gift :)</li>
    </ol>
  </div>
  <div>
    <h1>What </h1>
  </div>
</div>
