  <div class="row text-white">
    <div class="col-md pub">
      <aside class="">
      <h1>Publish a found item on&nbsp;TrackMyLost</h1>
      <ol>
        <li>Fill out the form.</li>
        <li>Confirm your number</li>
        <li>Wait for owner to call/sms you</li>
        <li>Recieve your MOMO gift :)</li>
      </ol>
    </aside>
    </div>
    <div class="col-md-5 ">
          <div class="ui divider hidden"></div>

       <section class="">
      <h2>What have you found?</h2>
      <form name="createItemForm">
        <div class="form">
          <div class="">
            <input type="text"  class="input" name="title" id="" placeholder="">
          </div>
          <div class="">
            <label for="">City</label>
            <input type="text" class="input" name="location-city" id="" placeholder="Limbe">
          </div>
          <div class="">
            <label for="">Document type</label>
            <div class="select">
              <select id="" name="location-country">
                
                  <option value="BE" >Passport</option>
                  <option value="FR" >ID cardd</option>
                  <option value="DE" >Germany</option>
                  <option value="NL">Netherlands</option>
                  <option value="GB" >United Kingdom</option>
              </select>
              <div class=""></div>
            </div>
          </div>
    </div>
    </form>
    </section>
    </div>
    <div class="col-md"></div>
  </div>