  <div class="row text-white">
    <div class="col-md pub">
                <div class="ui divider hidden"></div>

      <aside class="">
      <h1>Publish a found item on&nbsp;TrackMyLost</h1>
      <ol>
        <li>Fill out the form.</li>
        <li>Confirm your number</li>
        <li>Wait for owner to call/sms you</li>
        <li>Recieve your MOMO gift :)</li>
      </ol>
    </aside>
    </div>
    <div class="col-md-5 ">
          <div class="ui divider hidden"></div>

       <section class="">
      <h2>What have you found?</h2>
      <form name="">
        <div class="form">
          <div class="">
            <label for="">Document type</label>
            <div class="select">
              <select name="">
                  <option value="" >Passport</option>
                  <option value="" >ID card</option>
                  <option value="DE" >Germany</option>
                  <option value="NL">Netherlands</option>
                  <option value="GB" >United Kingdom</option>
              </select>
              <div class=""></div>
            </div>
          </div>
    </div>
    </form>
    </section>
    </div>
    <div class="col-md"></div>
  </div>