  <div class="row">
    <div class="col-md">
          <aside class="column my-objects__information">
      <h1>Publish a found item on&nbsp;iLost</h1>
      <ol>
        <li>Fill out the form.</li>
        <li>Confirm your email address.</li>
        <li>Wait for email from possible owner.</li>
      </ol>
      <h3>Publish on behalf of an organization?</h3>
      <p>
        <a href="https://ilost.co/en/business">More information about our plans and pricing.</a>
      </p>
      <p><strong>N.B.:</strong> Passports and identity cards should not be registered. These should be brought to your city council.</p>
    </aside>
    </div>
    <div class="col-md">
      
    </div>
  </div>