  <div class="row">
    <div class="col-md">
                <div class="ui divider hidden"></div>

          <aside class="column my-objects__information">
      <h1>Publish a found item on&nbsp;iLost</h1>
      <ol>
        <li>Fill out the form.</li>
        <li>Confirm your email address.</li>
        <li>Wait for email from possible owner.</li>
      </ol>
      <h3>Publish on behalf of an organization?</h3>
      <p>
        <a href="https://ilost.co/en/business">More information about our plans and pricing.</a>
      </p>
      <p><strong>N.B.:</strong> Passports and identity cards should not be registered. These should be brought to your city council.</p>
    </aside>
    </div>
    <div class="col-md-5">
          <div class="ui divider hidden"></div>

       <section class="column my-objects__form">
      <h2>What have you found?</h2>
      <form name="createItemForm" method="POST" enctype="multipart/form-data">
        <div class="form">
          <div class="form__input">
            <input type="text"  class="input" name="title" id="createItem_item_title" placeholder="Green backpack">
          </div>
          <div class="form__input">
            <label for="createItem_item_location-street">Additional information on finding location</label>
            <input type="text" class="input" name="location-street" id="createItem_item_location-street" placeholder="260 Broadway">
          </div>
          <div class="form__input">
            <label for="createItem_item_location-city">City</label>
            <input type="text" class="input" name="location-city" id="createItem_item_location-city" placeholder="New York">
          </div>
          <div class="form__input">
            <label for="createItem_item_location-country">Country</label>
            <div class="select">
              <select id="createItem_item_location-country" name="location-country">
                
                  <option value="BE" >Belgium</option>
                  <option value="FR" >France</option>
                  <option value="DE" >Germany</option>
                  <option value="NL" selected>Netherlands</option>
                  <option value="GB" >United Kingdom</option>
              </select>
              <div class="select__arrow"></div>
            </div>
          </div>
    </div>
    </form>
    </section>
    </div>
    <div class="col-md"></div>
  </div>