<nav class="navbar navbar-expand-md bg-success navbar-light">
    <div class="navbar-header">
    <LinkTo @route='Report' class="navbar-brand navbar-right"><img src="assets/images/logobottom.jpg" alt="navbar"/></LinkTo>
    <span class="navbar-text">TrackMyLost</span>
    </div>
    <ul class="nav nav-pills justify-content-center">
        {{#each this.nav as |item|}}
            <li class="nav-item"><LinkTo @route={{item}} class="nav-link active">{{item}}</LinkTo></li>
        {{/each}}
    </ul>
</nav>