<nav class="navbar navbar-expand-md bg-primary">
    <ul class="navbar-nav">
        {{#each this.nav as |item|}}
            <li class="nav-item"><LinkTo @route='Report' class="nav-link">{{item}}</LinkTo></li>
        {{/each}}
    </ul>
</nav>