<nav class="navbar navbar-expand-md bg-primary">
    <ul class="navbar-nav">
        {{#each this.nav as |item|}}
            <li><LinkTo @route='Report'>{{item}}</LinkTo></li>
        {{/each}}
    </ul>
</nav>
{{log this.router}}