<nav class="navbar navbar-expand-md navbar-inverse">
    <div class="navbar-header">
    <LinkTo @route='Report' class="navbar-brand"><img src="assets/images/logobottom.jpg" alt="navbar"/></LinkTo>
    <span class="navbar-text">TrackMyLost</span>
    </div>
    <ul class="nav navbar-nav">
        {{#each this.nav as |item|}}
            <li class="nav-item active"><LinkTo @route={{item}} class="nav-link">{{item}}</LinkTo></li>
        {{/each}}
    </ul>
</nav>