<nav class="navbar navbar-expand-md bg-success ">
    <ul class="navbar-nav">
        {{#each this.nav as |item|}}
            <li class="nav-item"><a href="#" class="nav-link" >{{item}}</a></li>
        {{/each}}
    </ul>
</nav>