<div class=" jum">
</div>
<nav class="navbar navbar-expand-md ui green inverted">
    <button type="button" class="navbar-toggler center" data-toggle="collapse" data-target="#collapse_target">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapse_target">
    <LinkTo @route='I Found' class="navbar-brand"><img src="assets/images/logobottom.jpg" alt="navbar"/></LinkTo>
    <span class="navbar-text">TrackMyLost</span>
    <ul class="navbar-nav text-success">
        {{#each this.nav as |item|}}
            <li class="nav-item"><LinkTo @route={{item}} class="nav-link">{{item}}</LinkTo></li>
        {{/each}}
    </ul>
    </div>
</nav>