<main class="admin-main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4  bg-white">
                <div class="row align-items-center m-h-100">
                    <div class="mx-auto col-md-8  fomer">
                        <div class="p-b-20 text-center">
                            <p>
                                <img src="./tools.svg" width="60">
                                <img src="https://petronpay.com/assets/theme/petron/site/images/logo-default-210x76.png" width="210" alt="">
                            </p>
                        </div>
                        <h3 class="text-center p-b-20 fw-400">Account analytics and Setup</h3>
                        <p class="text-center mb-5">
                          Make sure the data provided belongs to you   
                        </p>
                        
                        
                        

<form
    name="simpleContactForm"
    method="POST"
    data-netlify="true"
    data-netlify-recaptcha="true"
    id="simple-contact-form"
    class="contact-form"
>
    <p class="form-row">
        <label id="contact-form-name-label" for="contact-form-name" class="form-label">Name</label>
        <input type="text" name="name" id="contact-form-name" aria-labelledby="contact-form-name-label" class="form-input" />
    </p>
    <p class="form-row">
        <label id="contact-form-email-label" for="contact-form-email" class="form-label">Email address</label>
        <input type="email" name="email" id="contact-form-email" aria-labelledby="contact-form-email-label" class="form-input" />
    </p>
    <p class="form-row">
        <label id="contact-form-message-label" for="contact-form-message" class="form-label">Message</label>
        <textarea
            name="message"
            id="contact-form-message"
            aria-labelledby="contact-form-message-label"
            class="form-textarea"
            rows="7"
        ></textarea>
    </p>
    <div data-netlify-recaptcha="true" class="form-row"></div>
    <p class="form-row form-submit">
        <button type="submit" class="button">Send Message</button>
    </p>
</form>
                    </div>

                </div>
            </div>
            <div class="col-lg-8 d-none d-md-block bg-cover" style="background-image: url('https://petronpay.com/assets/theme/petron/img/login.svg');"></div>
            
        </div>
    </div>
</main>
{{outlet}}

