<main class="admin-main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4  bg-white">
                <div class="row align-items-center m-h-100">
                    <div class="mx-auto col-md-8  fomer">
                        <div class="p-b-20 text-center">
                            <p>
                                <img src="./tools.svg" width="60">
                                <img src="https://petronpay.com/assets/theme/petron/site/images/logo-default-210x76.png" width="210" alt="">
                            </p>
                        </div>
                        <h3 class="text-center p-b-20 fw-400">Account analytics and Setup</h3>
                        <p class="text-center mb-5">
                          Make sure the data provided belongs to you   
                        </p>
                        
                        
                        

<form name="contact" method="POST" data-netlify="true">
    <input type="hidden" name="form-name" value="contact">

  <p>
    <label>Your Name: <input type="text" name="name" /></label>   
  </p>
  <p>
    <label>Your Email: <input type="email" name="email" /></label>
  </p>
  <p>
    <label>Your Role: <select name="role[]" multiple>
      <option value="leader">Leader</option>
      <option value="follower">Follower</option>
    </select></label>
  </p>
  <p>
    <label>Message: <textarea name="message"></textarea></label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>

                    </div>

                </div>
            </div>
            <div class="col-lg-8 d-none d-md-block bg-cover" style="background-image: url('https://petronpay.com/assets/theme/petron/img/login.svg');"></div>
            
        </div>
    </div>
</main>
{{outlet}}

