<div class="header-content">
	<div class="w3-container w3-teal w3-center">
  		<h1>Register the Document Here!</h1>
	</div>
    <ol class="text-white w3-center">
    	<li>Fill out the form.</li>
        <li>Confirm your number</li>
        <li>Wait for owner to call/sms you</li>
        <li>Recieve your MOMO gift <i class="ui icon smile yellow"></i></li>
    </ol>
    <select class="w3-select" name="option">
  		<option value="" disabled selected>Choose type of Document</option>
  		<option value="1">ID Card</option>
  		<option value="2">Driver license</option>
  		<option value="3">Credit card</option>
  		<option value="3">Passport</option>
	</select>
	<div class="ui divider hidden"></div>
	<form class="w3-container ">
		<div class="w3-card-4 form-group">
			<label class="w3-label w3-validate w3-text-white">First Name on item</label>
			<input class="w3-input" type="text" aria-placeholder="e.g batey" placeholder="e.g batey" required>
			<label class="w3-label w3-text-white">Other Names</label>
			<input class="w3-input" type="text" required>
			<label class="w3-label w3-text-white ">Your Telephone</label>
			<input class="w3-input" type="number" placeholder="how can the owner reach you?" required>
		</div>
		<div class="w3-center">
			<button type="submit" class="btn btn-success">ANNOUNCE IT <i class="ui icon announcement purple"></i></button>
		</div>
	</form>
</div>

{{outlet}}
