<div class="ui divider hidden"></div>
<div class="header-content">
		<div class="col-sm-6 header-content-inner">
            <div class="alert alert-danger" role="alert">
                <h3>Apply to work at home</h3>
            </div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title text-white">
						<i class="ui icon signup green"></i> 
						Application Form
					</h3>

                </div>
				<div class="panel">
				
				<div class="panel-body">
					<form class="ui form">
						{{#each this.fields as |fieldName|}}
							<div class="form-group">
								<label class="w3-label w3-validate w3-text-white">{{fieldName}}</label>
								<input type="text" class="form-control" name="sign_fname" required/>
							</div>
						{{/each}}
                        <div class="form-check text-white">
							<input type="checkbox" id="checkbox_toc">
                            <label class="form-check-label" for="checkbox_toc">I accept the</label> <LinkTo @route='policy'>terms of conditions and the privacy policy.</LinkTo>
                        </div>
						<div class="divider ui"></div>
						<button type="submit" class="btn btn-success" name="sign_submit">submit</button><LinkTo @route='report'> Already have an account?</LinkTo>
					</form>
				</div>
				<div class="ui divider hidden"></div>
			</div>
			</div>
		</div>
        </div>

{{outlet}}